* {
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    font-family: "Roboto";
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 10px;
}